<h1>Listing restaurant_recommendations</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>User</th>
      <th>Overall rating</th>
      <th>Budget rating</th>
      <th>Distance rating</th>
      <th>Uniqueness rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_recommendations.each do |restaurant_recommendation| %>
      <tr>
        <td><%= restaurant_recommendation.restaurant_id %></td>
        <td><%= restaurant_recommendation.user_id %></td>
        <td><%= restaurant_recommendation.overall_rating %></td>
        <td><%= restaurant_recommendation.budget_rating %></td>
        <td><%= restaurant_recommendation.distance_rating %></td>
        <td><%= restaurant_recommendation.uniqueness_rating %></td>
        <td><%= link_to 'Show', restaurant_recommendation %></td>
        <td><%= link_to 'Edit', edit_restaurant_recommendation_path(restaurant_recommendation) %></td>
        <td><%= link_to 'Destroy', restaurant_recommendation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant recommendation', new_restaurant_recommendation_path %>
