<%- model_class = RestaurantRecommendation -%>
<div class="page-header">
  <h1><%=t '.title', :default => "What's For Lunch?" %></h1>
  <h3><%=t '.title', :default => "Top Restaurant Recommendations" %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:restaurant_id) %></th>
      <th><%= "Address" %></th>
      <th><%= "Distance" %></th>
      <th><%= "Last Attended" %></th>
      <th><%= "Recommendation Index" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurant_recommendations.where(user_id: current_user.id).order(:overall_rating).reverse.take(3).each do |restaurant_recommendation| %>
      <%= render 'layouts/recommendations_table', restaurant_recommendation: restaurant_recommendation %>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <h1><%=t '.title', :default => "Broke From Christmas Shopping?" %></h1>
  <h3><%=t '.title', :default => "Budget Restaurant Recommendation" %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:restaurant_id) %></th>
      <th><%= "Address" %></th>
      <th><%= "Distance" %></th>
      <th><%= "Last Attended" %></th>
      <th><%= "Budget Recommendation Index" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurant_recommendations.where(user_id: current_user.id).order(:budget_rating).reverse.take(1).each do |restaurant_recommendation| %>
    <%= render 'layouts/recommendations_table', restaurant_recommendation: restaurant_recommendation %>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <h1><%=t '.title', :default => "Don't Feel Like Driving?" %></h1>
  <h3><%=t '.title', :default => "Top Distance Recommendation" %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:restaurant_id) %></th>
      <th><%= "Address" %></th>
      <th><%= "Distance" %></th>
      <th><%= "Last Attended" %></th>
      <th><%= "Distance Recommendation Index" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurant_recommendations.order(:distance_rating).reverse.take(1).each do |restaurant_recommendation| %>
    <%= render 'layouts/recommendations_table', restaurant_recommendation: restaurant_recommendation %>
    <% end %>
  </tbody>
</table>


<div class="page-header">
  <h1><%=t '.title', :default => "Looking for Something new?" %></h1>
  <h3><%=t '.title', :default => "Uniqueness Recommendation" %></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:restaurant_id) %></th>
      <th><%= "Address" %></th>
      <th><%= "Distance" %></th>
      <th><%= "Last Attended" %></th>
      <th><%= "Uniqueness Recommendation Index" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurant_recommendations.order(:uniqueness_rating).reverse.take(1).each do |restaurant_recommendation| %>
    <%= render 'layouts/recommendations_table', restaurant_recommendation: restaurant_recommendation %>
    <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_restaurant_recommendation_path,
            :class => 'btn btn-primary' %>
