<%= simple_form_for(@attended_restaurant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :restaurant_id %>
    <%= f.input :user_id %>
    <%= f.input :date_attended %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
