<tr>
        <td><%= link_to restaurant_recommendation.id, restaurant_recommendation_path(restaurant_recommendation) %></td>
        <td><%= Restaurant.find(restaurant_recommendation.restaurant_id).name %></td>
        <td><%= Restaurant.find(restaurant_recommendation.restaurant_id).address %></td>
        <td><%= "#{(UserDistance.where("user_id = ? AND  restaurant_id = ?", current_user.id, restaurant_recommendation.restaurant_id).first.distance_from_user/1609.0).round(2)} mi" %></td>
        <td><%= Restaurant.find(restaurant_recommendation.restaurant_id).last_attended.strftime("%m/%d/%Y") unless Restaurant.find(restaurant_recommendation.restaurant_id).last_attended.nil? %></td>
        <td><%= restaurant_recommendation.overall_rating.round(2) %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      restaurant_recommendation_path(restaurant_recommendation), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      restaurant_recommendation_path(restaurant_recommendation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
</tr>